
<!-- templates/pages/home.html -->
{% extends 'base.html' %}
{% from 'partials/_macros.html' import badge %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>Utenti</h1>
  {# TODO: cicla su 'users' e include il partial _card.html passando 'user' #}
  {% if users %}
    <div class="grid">
      {% for user in users %}
        {% include 'partials/_card.html' %}
      {% endfor %}
    </div>
  {% else %}
    <p>Nessun utente presente. Aggiungine qualcuno in app.py.</p>
  {% endif %}
{% endblock %}
