form {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
}
body {
  background-color: #f3f7ff;
  text-align: center;
}
.lista-messaggi {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
}

.messaggio {
  margin-bottom: 2em;
}

#body-404 {
  background-image: radial-gradient(
    circle,
    rgb(40, 240, 240),
    rgb(30, 170, 255),
    rgb(15, 90, 255),
    blue
  );
}

#msg-404 {
  margin-top: 16%;
  font-size: 12em;
}
#h1-404 {
  font-size: 4em;
}
