{% extends "base.html" %} 
{% block title %} Login {% endblock %} 
{% block subtitle %} Accedi {% endblock%} 

{% block content %} 
<form method="POST" action="{{ url_for('login') }}">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required autofocus>
            </div>
            
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            
            
            <button type="submit" class="btn btn-primary btn-block">Accedi</button>
        </form>
{% endblock%}
